body {
    font-family: 'Arial', sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.1;
    color: rgb(211, 214, 216);
    
    background-color: #1c2028;
    margin: 0;
    padding: 2em;
    padding-bottom: 0em;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

h1{
    text-align: center;
}

h2 {
    font-size: 1.25em;
    margin-top: 1em;
    margin-bottom: 0em;
}

p {
    margin-top: 0em;
}

p.author-list{
    font-size: 0.8em;
    margin: 0em;
}

p.copyright-text{
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 0.5em;
    text-align: center;
}

a{
    all: unset;
    text-decoration: underline;
    cursor: pointer;
    color:hsl(204, 6%, 84%);
}

footer{
    margin: auto 0 0 0;
}


/* Container for all page content */
.body-container {
    max-width: 720px;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    margin: auto;
}



/* Terminal-style output block */
.datadump {
    font-family: monospace;
    white-space: pre-line;
    line-height: 1.2;
    background-color: #111;
    padding: 1em;
    color: #11ff00;
    outline: 1px solid rgb(211, 214, 216);
    border-radius: 4px;
}

#result{
    opacity: 0;
}

p#resultPara{
    margin-bottom: 0em;
}
